@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');


*{
    padding: 0;
    outline: 0;
    margin: 0;
    font-family: 'Roboto';
    color: #ffffff;
}

body{
    background-image: url('../assets_10/retro-living-room-interior-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container{
    padding: 4em;
    height: 80vh;
    padding-top: 3rem;
}

.nav-bar{
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right > div{
  
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.nav-right{
    border-bottom: 2px solid #ffffff;
    display: flex;
    flex-direction: column;

}

.Logo_here{
    margin-top: 0.5%;
    font-size: 2rem;
}


.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 1.2rem;
}

.call-us{
    margin-top: -0.2em;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}

.phone-call{
    margin-top: -0.2rem;
    font-size: 1rem;
}


/* main content */

main{
    margin-top: 9rem;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    
}

.heading{
    width: 50vw;
    font-size: 70px;
    font-weight: 600;
}

.button {
    margin-top: 10vh;
    /* height: 6vh;
    width: 17vw; */
    padding: 2.25vh 4vw;
    background-color: transparent;
    border: solid#ffffff;
    border-radius: 35px;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card{
    width: 15vw;
    height: max-content;
    background-color: #c6c6c63b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding: 2rem;
    padding-bottom: 0.6rem;

}

.card1{
    height: 15vh;
    position: relative;
    left: 8rem;
    bottom: 5rem;
}

.card2{
    position: relative;
    top: 6.4rem;
    right: 7rem;
}

img[alt="puzzle_svg"]{
    height: 3.5vh;
    transform: rotate(270deg);
}

img[alt="light_bulb_svg"]{
    height: 4.5vh;
}


.icon_bg{
    height: 5vh;
    width: 5.25vw;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    padding-top: 0.25em;
    margin-bottom: 1.2rem;
}

.line{
    content: "";
    height: 1.15px;
    width: 5vw;
    background-color: #ffffff;
}

.circle{
    content: "";
    height: 2.2vh;
    width: 1.1vw;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
}

.line1{
    rotate: 90deg;
    position: relative;
    left: 8rem;
    top: 3.2rem;
}

.c1{
    position: relative;
    left: 4rem;
    top: -.5rem;
}


.line2{
    height: 1px;
    position: relative;
    left: 16.35rem;
    bottom: 5rem;
}

.c2{
    position: relative;
    left: 4rem;
    bottom: 0.5rem;
}
